<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeroKore.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ZeroKore.Client.Properties.Settings>
            <setting name="AA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CJ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IGM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZPN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TeamCol" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="EnemyCol" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="HOTKEY" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="MinsPlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimesPlayed" serializeAs="String">
                <value>0</value>
            </setting>
        </ZeroKore.Client.Properties.Settings>
    </userSettings>
</configuration>